[env]
exp_dir = ~/haowen/GitHub/autoLoss
data_dir = /datasets/BigLearning/haowen/cifar10/cifar-10-batches-py
model_dir = /datasets/BigLearning/haowen/autoLoss/saved_models
save_images_dir = /datasets/BigLearning/haowen/autoLoss/saved_images

[data]

[stud]
student_model_name = gan
batch_size = 128
lr_stud = 0.0002
beta1 = 0.5
beta2 = 0.999
valid_frequency_stud = 200
print_frequency_stud = 200
max_endurance_stud = 100
max_training_step = 20000
# options: prescribed_steps, exceeding_endurance, prescribed_inps
stop_strategy_stud = prescribed_inps

[gan]
gan_mode = dcgan
# Dimension of noise vector z
dim_z = 128
# Number of pixels in CIFAR10 (3*32*32)
dim_x = 3072
dim_c = 64
disc_iters = 1
gen_iters = 1
pretrained_gan_exp_name = dcgan_pretrain
inps_threshold = 6.3
inps_batches = 20
inps_splits = 1

[evaluate]

[rl]
controller_model_name = 2layer_logits_clipping
dim_state_rl = 5
dim_hidden_rl = 16
dim_action_rl = 2
lr_rl = 0.5
lr_decay_rl = 0.95
total_episodes = 1000
update_frequency = 1
save_frequency = 100
# according to ENAS code, this is very important
reward_baseline_decay = 0.9
reward_c = 50
reward_step_rl = 0.1
# Set an max step reward, in case the improve baseline is too small and cause
# huge reward.
reward_max_value = 2
explore_rate_decay_rl = 100
explore_rate_rl = 0
max_endurance_rl = 50
logit_clipping_c = 2
state_decay = 0.9
